{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>History</h1>

<table class="table table-striped" id="">

    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <!-- <th>Total</th> -->
        </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction["transacted_at"] }}</td>
            <td>{{ transaction["symbol"] }}</td>
            <td>{{ transaction["shares"] }}</td>
            <td>{{ transaction["price"] }}</td>
            <!-- <td>{{ transaction["total"] }}</td> -->
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}