{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<h1>Portfolio {{ username }}</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total Value</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
        <tr>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["name"] }}</td>
            <td>{{ stock["total_shares"] }}</td>
            <td>{{ stock["price"] }}</td>
            <td>{{ stock["total_value"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<a href="/buy">Buy More</a>


{% endblock %}