{% extends "layout.html" %}

{% block title %}
    Get Stock Quote
{% endblock %}

{% block main %}

<h1>Get Stock Quote</h1>

<form action="/quote" method="post">
    <div class="form-group">
        <label for="symbol">Symbol</label>
        <input class="form-control" id="symbol" type="text"  name="symbol" placeholder="Stock Symbol" required>
    </div>
    <button class="btn btn-primary" id="" type="submit">Get Quote</button>
</form>

{% if stock %}
    <div class="mt-4">
        <h2>Stock Quote</h2>
        <p><strong>Symbol:</strong> {{ stock["symbol"] }}</p>
        <p><strong>Name:</strong> {{ stock["name"] }}</p>
        <p><strong>Price:</strong> {{ stock["price"] }}</p>
    </div>
{% endif %}

{% endblock %}